####################START####################


##################SUB-START##################
#macOS

**/.DS_Store
###################SUB-END###################


##################SUB-START##################
#phpStorm

.idea/
.history/
###################SUB-END###################


##################SUB-START##################
#netBeans

nbproject/
###################SUB-END###################


##################SUB-START##################
#VisualStudioCode

/.vscode
###################SUB-END###################


##################SUB-START##################
#Custom Ignores

ignoredAssets/
###################SUB-END###################


##################SUB-START##################
#composer

composer.lock
/vendor
###################SUB-END###################


##################SUB-START##################
#logs

*.log
**/error_log
###################SUB-END###################


##################SUB-START##################
#public

/public/uploads
/public/hot
/public/storage
###################SUB-END###################


##################SUB-START##################
#Laravel

/node_modules
/storage/*.key
/.vagrant
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache
###################SUB-END###################


##################SUB-START##################
#SEO

/sitemap.xml
/sitemap.xml.gz
###################SUB-END###################


##################SUB-START##################
#misc
~/.bash_it
###################SUB-END###################


##################SUB-START##################
#custom
/public/template/
###################SUB-END###################


#####################END#####################
