####################START####################


##################SUB-START##################
#macOS

**/.DS_Store
###################SUB-END###################


##################SUB-START##################
#phpStorm

.idea/
.history/
###################SUB-END###################


##################SUB-START##################
#netBeans

nbproject/
###################SUB-END###################


##################SUB-START##################
#VisualStudioCode

/.vscode
###################SUB-END###################


##################SUB-START##################
#Custom Ignores

ignoredFolders/
###################SUB-END###################


##################SUB-START##################
#logs

*.log
**/error_log
###################SUB-END###################


##################SUB-START##################
#WordPress .htaccess

/.htaccess
###################SUB-END###################


##################SUB-START##################
#WordPress Config

wp-config.php
###################SUB-END###################


##################SUB-START##################
#WordPress Cache (assets and triAssets are custom wp-content folder names)

wp-content/advanced-cache.php
wp-content/cache/
wp-content/wp-cache-config.php
wp-content/w3tc-config/

assets/advanced-cache.php
assets/cache/
assets/wp-cache-config.php
assets/w3tc-config/

triAssets/advanced-cache.php
triAssets/cache/
triAssets/wp-cache-config.php
triAssets/w3tc-config/
###################SUB-END###################


##################SUB-START##################
#WordPress Backups (assets and triAssets are custom wp-content folder names)

wp-content/backup-db/
wp-content/backups/

assets/backup-db/
assets/backups/

triAssets/backup-db/
triAssets/backups/
###################SUB-END###################


##################SUB-START##################
#WordPress Plugins (assets and triAssets are custom wp-content folder names)

wp-content/mu-plugins/
wp-content/plugins/hello.php

assets/mu-plugins/
assets/plugins/hello.php

triAssets/mu-plugins/
triAssets/plugins/hello.php
###################SUB-END###################


##################SUB-START##################
#WordPress Uploads (assets and triAssets are custom wp-content folder names)

wp-content/uploads/

assets/uploads/

triAssets/uploads/
###################SUB-END###################


##################SUB-START##################
#WordPress Misc (assets and triAssets are custom wp-content folder names)

wp-content/blogs.dir/
wp-content/upgrade/

assets/blogs.dir/
assets/upgrade/

triAssets/blogs.dir/
triAssets/upgrade/
###################SUB-END###################


##################SUB-START##################
#WordPress License

/license.txt
/readme.html
###################SUB-END###################


##################SUB-START##################
#SEO

/sitemap.xml
/sitemap.xml.gz
###################SUB-END###################


#####################END#####################
